@media screen and (min-width: 1700px) {
  .item__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .mediaMargin {
    margin-left: 43px;
  }
}

@media screen and (min-width: 1200px) {
  .third__item_1 h1 {
    padding-top: 60%;
  }
  .third__item_2 h1 {
    padding-top: 60%;
  }
  .third__item_4 h1 {
    padding-top: 60%;
  }
  .nav {
    padding-left: 60px;
  }
}

@media (max-width: 1399px) {
  .first {
    height: auto;
  }
}

@media screen and (max-width: 1400px) {
  .carousel__video {
    left: 492px;
  }
  .safe__img img {
    width: 100%;
  }
  .sixth .sixth__pagination {
    right: 25px;
  }
  .swiper__contain {
    padding: 20px;
  }
  .sixth .sixth__next {
    right: 60px;
  }
  .sixth .sixth__prev {
    right: 145px;
  }
  .swiper__contain {
    margin-right: 200px;
  }
  .reasons__items {
    padding-right: 20px;
  }
  .important__slider {
    background: url("../img/important-car.png") center/300px no-repeat;
  }
  .safe__img {
    padding-right: 0;
  }
  .safe__img::after {
    right: -31px;
  }
  .safe__content {
    padding-right: 0;
    padding-left: 40px;
  }
  .fifth .fifth__pagination {
    padding-right: 113px;
  }
  .recover__box {
    width: 100%;
  }
}

@media screen and (max-width: 1260px) {
  .first {
    min-height: auto;
  }
  .first__carousel {
    width: 100%;
  }
  .carousel__video {
    left: auto;
    right: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .problems__img {
    width: 30%;
  }
  .problems__img img {
    max-width: 85px;
  }
  .problems__info {
    width: 70%;
  }
  .reasons__icons {
    padding-left: 0;
  }
  .reasons__img {
    margin-left: auto;
    margin-right: auto;
  }
  .reasons__num {
    margin-left: auto;
    margin-right: auto;
  }
  .lead {
    min-height: auto;
  }
  .lead .hero {
    padding-bottom: 80px;
  }
  .fifth .fifth__pagination {
    padding-right: 100px;
  }
  .container {
    padding: 0 15px;
  }
  .forBg {
    background-attachment: initial;
    background-size: cover;
  }
  .third__item_3:hover p {
    opacity: 1;
    visibility: visible;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 999px) {
  .services__item {
    height: 280px;
  }
}

@media screen and (max-width: 993px) {
  .recover__video .blob {
    width: 20px;
    height: 20px;
  }
  .recover__video .blob .btn {
    padding: 6px;
  }
  .menu__logo img {
    width: 60px;
  }
  .first {
    padding-top: 0;
  }
  .seventh {
    background-attachment: scroll;
  }
  .services__content > a {
    font-size: 18px;
  }
  .forBg {
    background-image: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .fourth__form {
    margin: 0 auto;
  }
  .fifth .recover__btn a {
    font-size: 15px;
    padding: 13px 35px;
  }
  .service-page__btn {
    margin-top: 25px;
    max-width: 93px;
  }
  .fifth .swiper-slide {
    padding-left: 20px;
  }
  .eighth__company {
    padding-right: 0;
  }
  .works__slider::after {
    background-size: 90%;
    top: 15px;
  }
  .why__text-box {
    max-height: 430px;
  }
  .problems__img {
    width: 25%;
  }
  .problems__img img {
    max-width: 55px;
  }
  .problems__info {
    width: 75%;
  }
  .reasons__bg {
    display: none;
  }
  .reasons__title {
    margin-bottom: 22px;
  }
  .reasons__title-mob {
    margin-bottom: 22px;
  }
  .reasons__items {
    padding-right: 0;
  }
  .lead {
    background-position: left center;
  }
  .lead .hero__title {
    font-size: 25px;
  }
  .lead .hero__text {
    font-size: 15px;
    margin-bottom: 0;
  }
  .lead .hero {
    padding: 40px 0;
  }
  .lead .hero__btn-mobile {
    font-size: 14px;
    line-height: 18px;
  }
  .lead .hero__btn {
    padding-right: 0;
  }
  .important__phrase {
    display: none;
  }
  .important__head {
    margin-bottom: 25px;
  }
  .important__slider {
    position: relative;
    background-image: none;
  }
  .important__slider::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    background: url("../img/important-car-mobile.png") center no-repeat;
  }
  .important__action {
    bottom: 0;
  }
  .safe {
    padding-top: 10px;
    padding-bottom: 45px;
  }
  .safe__inner {
    padding-left: 0;
    padding-right: 0;
  }
  .safe__img {
    margin-left: 0;
    padding-left: 0;
    text-align: center;
    width: auto;
    display: inline-block;
    margin: 0 auto;
  }
  .safe__foot {
    padding-bottom: 10px;
  }
  .safe__foot::after {
    content: none;
  }
  .safe__box-title {
    font-size: 18px;
  }
  .safe__box {
    padding: 20px 7px;
    margin-top: -7px;
    position: relative;
  }
  .safe__content {
    padding-left: 5px;
    padding-right: 5px;
  }
  .safe__title {
    display: none;
  }
  .safe__title-mob {
    display: block;
  }
  .safe__table {
    display: none;
  }
  .safe__mobile {
    display: block;
  }
  .service-page .service-hero {
    background-position: center left 37%;
    padding-bottom: 0;
  }
  .hero {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .hero__subtitle {
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .hero__title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .hero__text {
    font-size: 15px;
    line-height: 22px;
  }
  .hero__btn-mobile {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 25px;
    padding: 10px 22px;
  }
  .hero__btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__form {
    display: none;
  }
  .footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 15px;
  }
  .footer__bottom p {
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  .footer__bottom a {
    font-size: 11px;
    line-height: 1.2;
  }
  #menu2 {
    position: relative;
    padding: 20px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #menu2 .outer-menu .checkbox-toggle:checked {
    top: 30px;
    left: 30px;
    position: fixed;
  }
  #menu2 .outer-menu .checkbox-toggle:checked ~ .hamburger {
    top: 30px;
    left: 30px;
    position: fixed;
  }
  .footer .menu__logo {
    margin-left: 0;
  }
  .nineth__wrapper h1 {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .nineth__work p:first-child {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .nineth__work {
    margin-bottom: 25px;
  }
  .nineth__wrapper {
    padding: 50px 15px;
  }
  .nineth__work p {
    font-size: 18px;
  }
  .nineth__work p:last-child {
    font-size: 13px;
  }
  .eighth__company p {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 0;
  }
  .eighth__company {
    margin-top: 15px;
  }
  .eighth__title {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .eighth__p_3 {
    display: none;
  }
  .eighth__btn {
    margin-top: 15px;
  }
  .seventh {
    padding-top: 42px;
    padding-bottom: 32px;
  }
  .seventh .nav__btn {
    margin-top: 0 !important;
  }
  .seventh__undertitle {
    margin-top: 40px;
  }
  .seventh__title h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .seventh__title p {
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
  }
  .sixth .special-justify {
    margin-top: -25px;
  }
  .sixth .swiper-slide {
    background-color: transparent;
  }
  .sixth .sixth__pagination {
    height: 40px;
    top: 47%;
  }
  .fifth .fifth__next {
    right: 15px;
  }
  .fifth .swiper-pagination-total {
    margin-top: 3px;
  }
  .fifth .fifth__prev {
    right: 105px;
  }
  .swiper__inside h1 {
    font-size: 15px;
  }
  .swiper__paragraph_6 {
    font-size: 11px;
    line-height: 16px;
  }
  .swiper__paragraph_4 {
    font-size: 11px;
    line-height: 16px;
  }
  .swiper__paragraph_2 {
    font-size: 11px;
    line-height: 16px;
  }
  .third .third__prev,
  .third .third__next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
  }
  .third__slider-item {
    margin-bottom: 65px;
  }
  .third .third__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third__item_3 p {
    font-size: 11px;
  }
  .third__title {
    max-width: 100%;
  }
  .third__item_3:hover p {
    margin-bottom: 65px;
  }
  .third__item_3:hover h1 {
    -webkit-transform: translateY(-130%);
            transform: translateY(-130%);
  }
  .third__mobile-btn {
    display: inline-block;
  }
  .third__item_3 h1 {
    bottom: 70px;
  }
  .third .swiper-wrapper {
    margin-top: 20px;
  }
  .third__title h1 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .third__extitle p {
    font-size: 15px;
    line-height: 22px;
  }
  .services .services__prev,
  .services .services__next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  .services__content p {
    font-size: 15px;
  }
  .services__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .swiper-pagination-current {
    font-size: 25px;
    margin-top: 0;
  }
  .swiper-pagination-total {
    font-size: 15px;
  }
  .second {
    padding-bottom: 30px;
  }
  .services {
    top: -15px;
  }
  .services .row {
    margin-left: 0;
    margin-right: 0;
  }
  .services__content {
    text-align: left;
    max-width: 100%;
  }
  .services__item li {
    text-align: left;
    margin-bottom: 8px;
  }
  .services__picture {
    position: absolute;
    opacity: .1;
    right: 12px;
    top: 25px;
  }
  .services__item h1 {
    margin-bottom: 12px;
    text-align: left;
  }
  .services__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    width: 100%;
    margin: 0;
    -webkit-box-shadow: 0px 0px 6.51px 0.49px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 6.51px 0.49px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f7;
    margin-bottom: 65px;
    min-height: 210px;
  }
  .services__item {
    padding: 15px 10px;
  }
  .services__item h1 {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 12px;
  }
  .services__item li {
    font-size: 15px;
    line-height: 1;
    margin-bottom: 12px;
  }
  .swiper__contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .swiper__text {
    border: none;
    border-top: 1px solid #ededed;
    padding-left: 0;
    padding-top: 15px;
  }
  .swiper__info {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .first {
    background-position: center;
  }
  .recover h1 {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .recover p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .recover__video {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .recover__video-title {
    padding-bottom: 5px;
  }
  .first {
    padding-bottom: 70px;
  }
  .first__carousel {
    display: none;
  }
  .third__item_1 h1 {
    padding-top: 30%;
  }
  .third__item_2 h1 {
    padding-top: 30%;
  }
  .third__item_4 h1 {
    padding-top: 30%;
  }
  .popup__form {
    width: 80%;
    margin-left: 10%;
  }
  .sixth .sixth__pagination {
    right: 0;
    width: 135px;
  }
  .swiper__contain {
    margin-right: 150px;
  }
  .sixth .sixth__next {
    right: 0;
  }
  .sixth .sixth__prev {
    right: 95px;
  }
  .swiper__inside {
    padding-top: 0;
    width: 100%;
  }
  .fifth .fifth__pagination {
    padding-right: 65px;
  }
  .mobile-contacts {
    display: block;
  }
  .empty {
    display: block;
  }
  .menu__logo img {
    width: 60px;
  }
  .nav {
    display: none;
  }
  .mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
  .menu__logo {
    margin-left: auto;
  }
  .outer-menu {
    display: block;
    top: 10px;
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  #exampleModal .modal-content {
    height: auto;
  }
  .nav__contacts a {
    font-size: 14px;
  }
  .nineth {
    min-height: auto;
  }
  .safe__img::after {
    width: 20px;
    right: -16px;
  }
  .important__contacts .nav__btn {
    padding: 10px 40px;
  }
  .nav__btn-wrapper .nav__btn, .popup .nav__btn {
    padding: 10px 40px;
  }
  .nav__btn a {
    padding: 10px 40px;
  }
  .eighth__btn {
    max-width: 100%;
    text-align: left;
  }
  body .swiper-pagination-total {
    margin-left: 5px;
    margin-top: 2px;
  }
  .works {
    padding: 40px 0;
  }
  .works__title {
    margin-bottom: 10px;
  }
  .works__slider::after {
    top: 25px;
  }
  .why__text {
    margin-bottom: 20px;
  }
  .why__list li::before {
    top: 5px;
  }
  .problems {
    padding-top: 33px;
  }
  .problems .problems__pagination,
  .problems .problems__next,
  .problems .problems__prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .problems .problems__pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .problems__item {
    margin: 0;
    width: 100%;
    margin-bottom: 65px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 300px;
  }
  .problems__img {
    text-align: center;
    width: 100%;
  }
  .problems__img img {
    max-width: 200px;
    max-height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .problems__info {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0;
  }
  .problems__num {
    font-size: 120px;
    left: -46px;
    bottom: -34px;
  }
  .reasons {
    padding: 40px 0;
  }
  .reasons__info {
    padding-right: 0;
  }
  .reasons__name {
    margin-bottom: 10px;
  }
  .reasons__text {
    line-height: 1.1;
  }
  .reasons__phrase {
    padding-left: 60px;
  }
  .reasons__phrase::after {
    height: 51px;
    left: 27px;
    top: -14px;
  }
  .reasons__item-inner {
    padding: 25px 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: auto;
  }
  .reasons__item {
    margin-bottom: 30px;
  }
  .important {
    padding: 40px 0;
  }
  .important__slider {
    min-height: auto;
  }
  .important__slider-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .important__item {
    max-width: 100%;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 65px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }
  .important__item:nth-child(3) {
    position: static;
  }
  .important__name {
    text-align: left;
  }
  .important .important__prev,
  .important .important__next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .important .important__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .important__action {
    display: none;
  }
  .fifth {
    background-color: #f5f5f7;
  }
  .fifth .forPos2 {
    top: -10px;
  }
  .safe__img {
    text-align: left;
  }
  .sixth {
    padding-top: 40px;
    background-color: #f5f5f7;
  }
  .outer-menu .menu-mobile > div > div > ul > li {
    font-size: 18px;
  }
  .popup__form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .popup__form .form__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
  }
  .popup__form .form__contact {
    margin-top: 40px;
    width: 100%;
  }
  .popup__form .nav__btn {
    margin-left: 0 !important;
  }
  .popup__form .form__title h2 {
    font-size: 24px;
  }
  .popup__form .form__text-header h2 {
    font-size: 16px;
  }
  .popup__form .forMargin {
    width: 100%;
    margin-top: 0;
  }
  .popup__form .form__text_div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popup__form .form__text_div > div {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin: 20px auto 30px auto !important;
  }
  .popup__form .form__text_div > * {
    color: #ffffff;
    opacity: 1 !important;
  }
  .nineth .nav__btn {
    margin-top: 20px !important;
  }
  .nineth__contacts {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
  }
  .map {
    display: none;
  }
  .sixth {
    padding-bottom: 30px;
  }
  .sixth .special-justify {
    margin-top: -65px;
    margin-left: 0;
    margin-right: 0;
  }
  .swiper__text_3 {
    margin-bottom: 0;
  }
  .sixth .swiper-slide {
    margin-bottom: 90px;
  }
  .sixth .sixth__next,
  .sixth .sixth__prev {
    bottom: 0;
    top: auto;
  }
  .sixth .sixth__next {
    right: calc(50% - 90px);
    left: auto;
  }
  .sixth .sixth__prev {
    left: calc(50% - 90px);
    right: auto;
  }
  .sixth .sixth__pagination {
    bottom: -6px;
    top: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sixth .swiper-slide {
    padding: 15px;
  }
  .swiper__contain {
    margin-right: 0;
    padding: 15px 10px;
    padding-right: 20px;
  }
  .swiper__text {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .forBg2 {
    height: 300px;
    border-radius: 5px 5px 0 0;
    background-size: cover;
  }
  .forPos2 {
    top: -9px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .swiper__inside h1 {
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .fifth .recover__btn {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .fifth .swiper-slide {
    padding-bottom: 100px;
    border-radius: 0 0 10px 10px;
  }
  .fifth .fifth__pagination {
    width: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    bottom: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fifth .fifth__next {
    right: calc(50% - 90px);
    bottom: 30px;
    left: auto;
  }
  .fifth .fifth__prev {
    left: calc(50% - 90px);
    bottom: 30px;
    right: auto;
  }
  .recover__btn a {
    padding: 10px 40px;
  }
  .fifth .swiper__inside p {
    display: none;
  }
  .fourth__paragraph_1,
  .fourth__paragraph_2 {
    display: none;
  }
  .fourth__paragraph_3 {
    font-size: 15px;
    line-height: 25px;
    max-width: 100%;
  }
  .popup__input {
    margin-bottom: 30px;
  }
  .fourth {
    padding: 40px 0;
  }
  .fourth__picture img {
    display: none;
  }
  .fourth__content h1 {
    position: relative;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 70px;
    margin-bottom: 25px;
  }
  .fourth__content h1::after {
    position: absolute;
    content: "";
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(90deg);
            transform: translateX(-50%) rotate(90deg);
    background: url("../img/line.png") center no-repeat;
    width: 65px;
    height: 1px;
  }
  .fourth__title {
    display: none;
  }
  .fourth__mobile-title {
    display: block;
    width: 240px;
  }
  .fourth .forPos {
    top: -5px;
  }
  .fourth .container {
    width: 100%;
    max-width: calc(100% - 2px);
    padding-left: 15px;
    padding-right: 15px;
  }
  .fourth__form {
    padding: 30px 35px;
    margin-left: -6px;
    margin-right: -5px;
  }
  .forMargin3 {
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  .problems__title-mob {
    display: block;
  }
  .problems__title {
    display: none;
  }
  .reasons__title-mob {
    display: block;
  }
  .reasons__title {
    display: none;
  }
  .important__title {
    display: none;
  }
  .important__title-mob {
    display: block;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fifth .container {
    padding: 0 25px;
  }
  .sixth .container {
    padding: 0 5px;
  }
}

@media (max-width: 575px) {
  #menu2 {
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px 15px;
  }
  #menu2 .outer-menu .checkbox-toggle {
    left: 15px;
  }
  #menu2 .outer-menu .hamburger {
    left: 15px;
  }
}

@media (max-width: 500px) {
  .service-page .seventh {
    background-image: url("../img/seventh-bg-2-mob.jpg");
    background-repeat: no-repeat;
  }
  .works__slider::after {
    background-image: url("../img/works-slider-bg-mob.png");
    background-size: contain;
  }
  .works__title {
    display: none;
  }
  .works__title-mob {
    display: block;
  }
  .why__title {
    display: none;
  }
  .why__title-mob {
    display: block;
  }
  .sixth__title-mobile {
    display: block;
    width: 200px;
    margin-left: 13px;
  }
  .sixth__image {
    display: none;
  }
}

@media (max-width: 480px) {
  .lead {
    background-image: url("../img/lead-bg-mob.png");
    background-position: center;
  }
  .services {
    top: -7px;
  }
  .recover h1 {
    padding-right: 40px;
  }
}

@media (max-width: 400px) {
  .why__text-box {
    max-height: 540px;
  }
  .fifth .forPos2 {
    top: -7px;
  }
  .seventh__undertitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seventh__adress {
    margin-bottom: 30px;
  }
}

@media (max-width: 380px) {
  .eighth__title {
    font-size: 17px;
  }
  .forPos2 {
    top: -7px;
  }
}
/*# sourceMappingURL=media.css.map */