@media screen and (min-width: 1700px) {
    .item__content {
        justify-content: flex-start;
    }

    .mediaMargin {
        margin-left: 60px;
    }

    .first__carousel {
        width: 50%;
    }

    
}

@media screen and (max-width: 1700px) {
  


}

@media screen and (min-width: 1200px) {
    .third__item_1 h1 {
        padding-top: 60%;
    }

    .third__item_2 h1 {
        padding-top: 60%;
    }
    
    .third__item_4 h1 {
        padding-top: 60%;
    }

    .nav {
        padding-left: 60px;
    }
  
}


@media screen and (max-width: 1470px) {
    .first {
        padding-bottom: 0;
        height: 100vh;
    }
}

@media (max-width: 1399px) {
    .first {
        height: auto;
        padding-bottom: 230px;
    }
}


@media screen and (max-width: 1400px) {
    .fifth .fifth__pagination  {
        padding-right: 108px;
    }
    .recover__box {
        width: auto;
    }
}

@media screen and (max-width: 1260px) {
    .first__carousel {
        width: 100%;
    }
}


@media screen and (max-width: 1200px) {
    .fifth .fifth__pagination  {
        padding-right: 100px;
    }
    .container {
        padding: 0 15px;
    }

    

    .forBg {
        background-attachment:initial;
        background-size: cover;
    }
    

    .third__item_3:hover p {
        opacity: 1;
        visibility: visible;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 999px) {

    .services__item {
        height: 280px;
    }
}

@media screen and (max-width: 993px) {
    .footer__bottom {
        flex-wrap: wrap;
        padding-bottom: 15px;
    }
    .footer__bottom p {
        font-size: 11px;
        margin-bottom: 10px;
        line-height: 1.2;
    }
    .footer__bottom a {
        font-size: 11px;
        line-height: 1.2;
    }
    #menu2 {
        position: relative;
        padding: 20px 0;
        align-items: center;
        justify-content: space-between;

        .outer-menu {
            .checkbox-toggle:checked  {
                top: 30px;
                left: 30px;
                position: fixed;

                & ~ .hamburger {
                    top: 30px;
                    left: 30px;
                    position: fixed;
                }
            }
        }
    }
    .footer .menu__logo {
        margin-left: 0;
    } 
    .nineth__wrapper h1 {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .nineth__work p:first-child {
        font-size: 14px;
        margin-bottom: 6px;
    }
    .nineth__work {
        margin-bottom: 25px;
    }
    .nineth__wrapper {
        padding: 50px 15px;
    }
    .nineth__work p {
        font-size: 18px;
    }
    .nineth__work p:last-child {
        font-size: 13px;
    }
    .eighth__company p {
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 0;
    }
    .eighth__company {
        margin-top: 15px;
    }
    .eighth__title {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .eighth__p_3 {
        display: none;
    }
    .eighth__btn {
        margin-top: 15px;
    }
    .seventh {
        padding-top: 42px;
        padding-bottom: 32px;
    }
    .seventh .nav__btn {
        margin-top: 0 !important;
    }
    .seventh__undertitle {
        margin-top: 40px;
    }
    .seventh__title h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .seventh__title p {
        font-size: 15px;
        line-height: 25px;
        color: #ffffff;
    }
    .sixth .special-justify {
        margin-top: -25px;
    }
    .sixth .swiper-slide {
        background-color: transparent;
    }
    .sixth .sixth__pagination {
        height: 40px;
        top: 47%;
    }
    .fifth .fifth__next {
        right: 20px;
    }
    .fifth .fifth__prev {
        right: 100px;
    }
    .forBg2 {
        background-size: contain;
    }
    .swiper__inside h1 {
        font-size: 15px;
    }
    .swiper__paragraph_6 {
        font-size: 11px;
        line-height: 16px;

    }
    .swiper__paragraph_4 {
        font-size: 11px;
        line-height: 16px;
    }
    .swiper__paragraph_2 {
        font-size: 11px;
        line-height: 16px;
    }
    
    .third .third__prev,
    .third .third__next {
        display: flex;
        padding: 10px;
    }
    .third__slider-item {
        margin-bottom: 65px;
    }
    .third .third__pagination {
        display: flex;
        align-items: center;
    }
    .third__item_3 p {
        font-size: 11px;
    }
    .third__title {
        max-width: 100%;
    }
    .third__item_3:hover p {
        margin-bottom: 65px;
    }
    .third__item_3:hover h1 {
        transform: translateY(-130%);
    }
    .third__mobile-btn {
        display: inline-block;
    }
    .third__item_3 h1 {
        bottom: 70px;
    }
    .third .swiper-wrapper {
        margin-top: 20px;
    }
    .third__title h1 {
        margin-bottom: 20px;
        font-size: 20px;
    }
    .third__extitle p {
        font-size: 15px;
        line-height: 22px;
    }
    
    .services .services__prev,
    .services .services__next {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 10px;
    }
    .services__content p {
        font-size: 15px;
    }
    .services__pagination {
        display: flex;
        align-items: center;
    }
    .swiper-pagination-current {
        font-size: 25px;
        margin-top: 0;
    }
    .swiper-pagination-total {
        font-size: 15px;
    }
    .second {
        padding-bottom: 30px;
    }
    .services {
        top: -15px;
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .services__content {
        text-align: left;
        max-width: 100%;
    }

    .services__item li {
        text-align: left;
        margin-bottom: 8px;
    }
    .services__picture {
        position: absolute;
        opacity: .1;
        right: 12px;
        top: 25px;
    }

    .services__item h1 {
        margin-bottom: 12px;
        text-align: left;
    }
    
    .services__item {
        justify-content: flex-start;
        position: relative;
        width: 100%;
        margin: 0;
        box-shadow: 0px 0px 6.51px 0.49px rgba(0, 0, 0, 0.1);
        background-color: #f5f5f7;
        margin-bottom: 65px;
        min-height: 210px;
    }
    .services__item {
        padding: 15px 10px;
    }
    .services__item h1 {
        font-size: 18px;
        line-height: 1;
        margin-bottom: 12px;
    }
    .services__item li {
        font-size: 15px;
        line-height: 1;
        margin-bottom: 12px;
    }
    .swiper__contain {
        flex-direction: column;
        height: auto;
        padding-bottom: 5px;
    }
    .swiper__text {
        border: none;
        border-top: 1px solid #ededed;
        padding-left: 0;
        padding-top: 15px;
    }

    .swiper__info {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .first {
        background-position: center;
    }
    .recover h1 {
        font-size: 25px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .recover p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .recover__video {
        margin-top: 20px;
        display: flex;
    }
    .first {
        padding-bottom: 70px;
    }
    .first__carousel {
        display: none;
    }
    .third__item_1 h1 {
        padding-top: 30%;
    }

    .third__item_2 h1 {
        padding-top: 30%;
    }

    .third__item_4 h1 {
        padding-top: 30%;
    }

    .popup__form {
        width: 80%;
        margin-left: 10%;
    }


  

    .swiper__inside {
        padding-top: 0;
        width: 100%;
    }

    .fifth .fifth__pagination {
        padding-right: 65px;
    }

    .mobile-contacts {
        display: block;
    }

    .empty {
        display: block;
    }

    .menu__logo img {
        width: 60px;
    }
    
    .nav {
        display: none;
    }

    .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }

    .menu__logo {
        margin-left: auto;
    }

    .outer-menu {
        display: block;
        top: 10px;
        left: 0;
    }
}

@media screen and (max-width: 768px) {
    .sixth {
        background-color: #f5f5f7;
    }
    .outer-menu .menu-mobile > div > div > ul > li {
        font-size: 18px;
    }
    .popup__form {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        .form__content {
            flex-direction: column-reverse;
            align-items: flex-start;
            padding: 20px;
        }
        

        .form__contact {
            margin-top: 40px;
            width: 100%;
        }
        .nav__btn {
            margin-left: 0 !important;
        }
        .form__title h2 {
            font-size: 24px;
        }
        .form__text-header h2 {
            font-size: 16px;
        }
        .forMargin {
            width: 100%;
            margin-top: 0;
        }

        .form__text_div {
            flex-direction: column;

            & > div {
                transform: rotate(90deg);
                margin: 20px auto 30px auto !important;
            }

            & > * {
                color: #ffffff;
                opacity: 1 !important;
            }
        }
    }

    .nineth {
        .nav__btn {
            margin-top: 20px !important;
        }
    }
    
    .nineth__contacts {
        width: 100%;
        justify-content: flex-start;
        padding: 0;
    }
    .map {
        display: none;
    }
    .sixth {
        padding-bottom: 30px;
    }
    .sixth .special-justify {
        margin-top: -70px;
        margin-left: 0;
        margin-right: 0;
    }
    .swiper__text_3 {
        margin-bottom: 0;
    }
    .sixth .swiper-slide {
        margin-bottom: 90px;
    }
    .sixth .sixth__next,
    .sixth .sixth__prev {
        bottom: 0;
        top: auto;
    }

    .sixth .sixth__next {
        right: calc(50% - 90px);
        left: auto;
    }
    .sixth .sixth__prev {
        left: calc(50% - 90px);
        right: auto;
    }

    .sixth .sixth__pagination {
        bottom: 0;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        justify-content: center;
    }

    .swiper__contain {
        margin-right: 0;
        padding: 15px 10px;
    }

    .swiper__text {
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .forBg2 {
        height: 300px;
        border-radius: 10px 10px 0 0;
        background-size: cover;
    }
    .forPos2 {
        top: -9px;
        align-items: flex-start;
    }
    .swiper__inside h1 {
        margin-left: -20px;
        margin-right: -20px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .fifth .recover__btn {
        left: 50%;
        transform: translateX(-50%);
    }
    .fifth .swiper-slide {
        padding-bottom: 100px;
        border-radius: 0 0 10px 10px;
    }
    
    .fifth .fifth__pagination {
        width: 60px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0;
        bottom: 40px;
        justify-content: center;
    }
    .fifth .fifth__next {
        right: calc(50% - 90px);
        bottom: 30px;
        left: auto;
    }
    .fifth .fifth__prev {
        left: calc(50% - 90px);
        bottom: 30px;
        right: auto;
    }
    .recover__btn {
        padding: 10px 40px;
    }
    .fifth .swiper__inside p {
        display: none;
    }
    
    .fourth__paragraph_1,
    .fourth__paragraph_2 {
        display: none;
    }
    .fourth__paragraph_3 {
        font-size: 15px;
        line-height: 25px;
        max-width: 100%;
    }
    .popup__input  {
        margin-bottom: 30px;
    }
    .fourth {
        padding: 40px 0;
        &__picture img {
            display: none;
        }
        &__content h1 {
            position: relative;
            font-size: 20px;
            line-height: 25px;
            padding-bottom: 70px;
            margin-bottom: 25px;

            &::after {
                position: absolute;
                content: "";
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%) rotate(90deg);
                background: url('../img/line.png') center no-repeat;
                width: 65px;
                height: 1px;
            }
        }
        &__title {
            display: none;
        }
        &__mobile-title {
            display: block;
            width: 240px;
        }
        .forPos {
            top: -5px;
        }
        .container {
            width: 100%;
            max-width: calc(100% - 2px);
            padding-left: 15px;
            padding-right: 15px;
        }
        &__form {
            padding: 30px 35px;
            margin-left: -6px;
            margin-right: -5px;
        }
    }

    .forMargin3 {
        margin-top: 15px;
    }
    
}

@media (max-width: 600px) {
    .footer__bottom {
        flex-direction: column;
    }
    .fifth .container {
        padding: 0 25px;
    }
    .sixth .container {
        padding: 0 5px;
    }
}
@media (max-width: 575px) {
    #menu2 {
        margin-left: -15px;
    margin-right: -15px;
    padding: 20px 15px;
        .outer-menu .checkbox-toggle {
            left: 15px;
        }
        .outer-menu .hamburger {
            left: 15px;
        }
    }
}

@media (max-width: 500px) {
    .sixth__title-mobile {
        display: block;
        width: 200px;
        margin-left: 9px;
    }
    .sixth__image {
        display: none;
    }
}

@media (max-width: 480px) {
  
    .services {
        top: -7px;
    }
    .recover h1 {
        padding-right: 40px;
    }
}

@media (max-width: 400px) {
    .seventh__undertitle {
        flex-direction: column;
    }
    .seventh__adress {
        margin-bottom: 30px;
    }
}

@media (max-width: 380px) {
    .eighth__title {
        font-size: 17px;
    }
    .forPos2 {
        top: -7px;
    }
}

