
*{
	padding: 0;
	margin: 0;

}


img	{
	width: 100%;
	height: auto;
}

ol {
	margin-bottom: 0;
}

*:focus {
    outline: 0 !important;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	font-family: 'Montserrat', 'sans-serif';
	position: relative!important;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*----------------------------------------------------------*/
.first {
	background-image: url('../img/bg-first.jpg');
	background-size: cover;
	background-position: left;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	padding-bottom: 200px;
}



.container {
	padding: 10px 50px 0 50px;
}

.menu {
	display: flex;
}

.nav {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-around;
	font-size: 16px;
}

.nav p{
	margin-bottom: 0.4rem;
	color: #90939e;
	margin-left: 3px;
	font-weight: 800;
	font-size: 15px;
	letter-spacing: 2px;
}

.nav a {
	color: #90939e;
	font-weight: 500;
}

.nav h5 {
	color: #fff;
	margin-bottom: 0;
}

.nav h6 {
	color: #90939e;
	font-size: 15px;
}

.nav__btn {
	padding: 15px 30px;
	border-radius: 5px;
	border: none;
	background-image: linear-gradient(-100deg, #082f65 0%, #2c3dfc 100%);
	outline:none;
}

.empty {
	display: none;
	width: 40px;
}

.recover__video {
	display: none;
	margin-top: 20px;
	.blob {
		position: static;
		height: 28px;
		width: 28px;
		margin-right: 10px;

		.btn {
			padding: 8px;
		}
	}
}

.recover__video-title {
	position: relative;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	padding-bottom: 8px;

	&::after {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #ffffff;
	}
}

.mobile-contacts {
	display: none;
	line-height: 12px;

	a {
		line-height: 12px;
		font-size: 12px;
	}

	h6 {
		line-height: 12px;
		font-size: 10px;
		color: rgba(255, 255, 255, 0.5);
		margin-left: 3px;
	}
}

.nav__btn-wrapper {
    text-align: center;
}

.nav__contacts {
	line-height: 5px;
}

.nav__contacts a{
	display: inline-block;
	color: #fff;
	margin-bottom: 8px;
}

.nav__btn a {
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	outline:none;
	display: flex;
    flex-direction: column;
}

.recover {
    white-space: nowrap;
    max-width: 585px;
    white-space: normal;
}
.recover h1 {
	font-size: 48px;
	font-weight: 700;
	color: #fff;
}

.recover p {
	max-width: 505px;
	white-space: normal;
	color: #fff;
	font-size: 18px;
	margin: 30px 0;
	line-height: 22px;
}

.recover__btn {
	padding: 14px 45px;
	border-radius: 5px;
	border: none;
	background-image: linear-gradient(-100deg, #082f65 0%, #2c3dfc 100%);
	outline:none;
}

.recover__btn a {
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	outline:none;
	
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	border: none;
}

.first__carousel {
	padding: 0 0 0 30px;
	width: 60%;
	position: absolute;
	bottom: 0;
	right: 0;
	background-image: url("../img/modal-bg.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.customForWidth {
	width: 70%;
}

.customIndicators {
	right: auto;
	margin: 0;
}

.carousel__container {
	display: flex;
	width: 80%;
	align-items: center;
}

.item__content {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.item__content h3 {
	color: #fff;
	font-size: 16px;
}

.item__content p {
	color: #90939e;
	font-size: 13px;
}

.first__carousel_text {
	color: #90939e;
	margin-bottom: 20px;
}

.customItem {
	padding-right: 30px;
	padding-bottom: 20px;
}

.carousel__video {
	position: relative;
}

.staticHeight {
	height: 200px;
}

.blob {
	top: 50%;
	left: 40%;
	position: absolute;
	background: white;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.menu-mobile__inner {
	flex-direction: column;

	.nav__btn {
		color: #ffffff;
		margin-top: 30px;
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(41, 61, 243, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.popup {
	
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #040507e8;
	opacity: 0;
	visibility: hidden;
	z-index: 35;
	padding-top: 100px;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
}




.popup__nav {
	
	width: 250px;
	background: url("../img/modal2-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 5px;
	padding: 10px;
	transition: all 0.8s ease 0s;
	opacity: 0;
	margin-left: 25%;
}

.popup__nav ul li {
	list-style: outside;
	margin: 10px 0;
}

.popup__nav ul li::marker {
	color:#b9bdc9;
}

.popup__nav ul li a {
	color:#b9bdc9;
	font-size: 16px;
}

.popup__nav ul li a:hover {
	color: #fff;
}

.popup__form {
	color: #e8e8e8;
	background: url("../img/modal3-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 30px 0;
	width: 60%;
	margin-left: 20%;
	margin-top: 2%;
}
.form__content {
	display: flex;
	justify-content: space-around;
	align-items: center;
}


form .form-control:focus{
	border-color: #ced4da;
	box-shadow: none;
  }

.popup__input {
	background: transparent;
	border: none;
	border-bottom: solid 1px #838895;
	padding: 13px 10px;
	color: #fff;
	width: 100%;
    margin-bottom: 25px;
}


.popup__input::placeholder {
	color: #838895;
	font-weight: 300;
}

.form__text_div {
	display: flex;
	align-items: flex-start;
}

.form__title {
	font-size: 36px;
}

.form__title h2 {
	font-weight:500;
}

.form__text-header h2 {
	font-size: 25px;
	font-weight: 500;
}

.form__contact h3 {
	font-size: 18px;
	font-weight: 500;
}

.form__contact p {
	font-weight: 300;
	opacity: 0.7;
	margin-bottom: 0;
}

.form__social  {
	display: flex;
	margin-top: 30px;
}

.form__social i {
	border: solid 1px #fff; opacity: 0.7;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
}

.forMargin {
	margin-top: 40px;
}

.form__text_div {
	margin-top: 20px;
}

.second {
	padding: 50px 0;
	position: relative;
}

.second__image {
	width: 70%;
}

.services__pagination,
.services__prev,
.services__next {
	display: none;
}

.services {
	display: flex;
	position: relative;
	top: -30px;
	.row {
		margin-left: -5px;
		margin-right: -5px;
	}	
}

.services__item {
	display: flex;
    background-color: #f5f5f7;
	margin: 5px;
	height: 180px;
	padding: 20px;
	padding-top: 10px;
	border-radius: 5px;
	width: calc(50% - 10px);
	box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.1);
}

.services__content {
	max-width: 310px;
}

.services__item:hover {
	background: linear-gradient(to bottom, #0d3179, #273be8);
	color: #fff!important;
}

.services__item a {
	color: inherit!important;
}

.services__item li {
	list-style: initial;
	line-height: 20px;
}

.services__item p {
	font-weight: 300;
}

.services__item li::marker {
	color: #345193;
}

.services__item h1 {
	font-size: 18px;
	font-weight: 600;
}

.services__picture {
	height: 150px;
	margin-left: auto;
}

.third {
	padding-top: 40px;
	padding-bottom: 40px;
	background: #f5f5f7;
}

.third__title h1 {
	font-size: 24px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}


.third__title span {
	color: #273be5;
	font-weight: 700;
}


.forPadding {
	margin-top: 30px;
	text-align: center;
}

.forPadding h1 {
	font-weight: 600;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	transition: all 0.7s ease;
}

.forPadding .col-lg-3 {
	padding: 0;
}

.third__item_1Bg {
	background: url("../img/first.png");
	background-repeat: no-repeat;
	background-size: cover;
}



.third__item_2Bg {
	background: url("../img/second.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.third__item_3Bg {
	background: url("../img/third.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.third__item_3 {
	padding-bottom: 10px;
	color: #fff;
	height: 270px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.third__item_3 p {
	font-weight: 300;
	color: #fff;
}

.third__item_4Bg {
	background: url("../img/fourth.png");
	background-repeat: no-repeat;
	background-size: cover;
}


.fourth {
	padding: 50px 0;
	position: relative;
}

.popup {
	position: fixed;
	overflow: auto;
}

.fourth__form {
	background-color: #16213e;
	color: #fff;
	padding: 40px;
}

.fourth__picture {
    display: flex;
    margin-bottom: 30px;
}

.fourth__content h1 {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.fourth__paragraph_1 {
	color: #878ea0;
	line-height: 25px;
    font-size: 15px;
}

.fourth__paragraph_2 {
	color: #babdc6;
	line-height: 20px;
	font-weight: 300;
}

.fourth__paragraph_3 {
	line-height: 20px;
	font-weight: 300;
}

.forBg {
	background: url("../img/bmw.png");
	background-attachment: fixed;
	background-position: right 90%;
	background-size: 80%;
	background-repeat: no-repeat;
	padding: 0;
}

.forBg2 {
	background: url("../img/merc.png");
	background-attachment: fixed;
	background-position: left 90%;
	background-size: 50%;
	background-repeat: no-repeat;
	padding: 0!important;
}

.forPos {
	position: relative;
	top: -10px;
}

.forPos2 {
	position: relative;
	top: -20px;
}

.fifth {
	background-color: #f5f5f7;
	padding: 40px 0;
	.forPos2 {
		top: -25px;
	}
}

.swiper-container {
	width: 100%;
	height: 100%;
  }

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	padding: 20px;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.forMargin2 {
	padding: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
}

.swiper__inside {
	padding: 0;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.swiper__inside h1 {
	font-weight: 600;
	font-size: 20px;
	border-bottom: solid 1.5px #e8e8e8;
	padding-bottom: 10px;
	color: #0f2043;
}

.swiper__paragraph_1 {
	font-size: 13px;
	font-weight: 600;
	color:rgba(0, 0, 0, 0.5);
	margin-top: 20px;
}

.swiper__paragraph_2 {
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 20px;
	border-bottom: solid 1.5px #e8e8e8;
	color: #333333;
}

.swiper__paragraph_3 {
	font-size: 13px;
	font-weight: 600;
	color: #909090;
	margin-top: 20px;
}

.swiper__paragraph_4 {
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 20px;
	border-bottom: solid 1.5px #e8e8e8;
	line-height: 25px;
	color: #333333;
}

.swiper__paragraph_5 {
	font-size: 13px;
	font-weight: 600;
	color: #909090;
	margin-top: 20px;
}

.swiper__paragraph_6 {
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 20px;
	border-bottom: solid 1.5px #e8e8e8;
	line-height: 25px;
	color: #333333;
} 

.swiper-pagination-current {
	font-size: 26px;
	color: #0d317b;
	font-weight: bold;
	display: block;
	margin-top: 10px;
}

.fifth .fifth__pagination {
	display: flex;
	justify-content: flex-end;
	padding-right: 130px;
    bottom: 30px;
    width: 200px ;
    right: 0 ;
    left: auto ;
}
.swiper__paragraph_3,
.swiper__paragraph_5,
.swiper__paragraph_1 {
	text-transform: uppercase;
}

.swiper-pagination-total {
	color: #e8e8e8;
	display: block;
}

.fifth .recover__btn {
    position: relative;
    z-index: 19;
}

.fifth .fifth__next {
	top: auto;
	bottom: 20px;
	right: 10%;
	color: #000;
	border: solid 1.5px#e9e9e9;
    padding: 20px;
	border-radius: 100%;
	background-color: #ffffff;
}

.fifth .fifth__prev {
	top: auto;
	bottom: 20px;
	right: 30%;
	left: auto;
	border: solid 1.5px  #e9e9e9;
    padding: 20px;
	border-radius: 100%;
	color: #000;
	background-color: #ffffff;
}

.swiper-button-disabled {
	border: solid 1.5px  #e9e9e9;
}

.forMargin3 {
	margin-top: 20px;
}

.sixth {
	padding: 40px 0;
	position: relative;
}

.sixth__title-mobile {
	display: none;
}

.sixth .special-justify {
    justify-content: flex-start;
    margin-top: 40px;
}

.sixth__image {
	display: flex;
	justify-content: center;
}

.swiper__contain {
	display: flex;
	align-items: center;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
	min-height: 220px;
	width: 100%;
	background: #fafafa ;
    padding-bottom: 50px;
    margin-right: 200px;

}




.rating span {
	display: inline-block;
    position: relative;
	width: 1.1em;
	color: transparent;
}

.swiperCorrect {
	display: flex;
	justify-content: flex-start;
	width: 100%!important;
}

.noRate::before {
	content: "\2605";
	position: absolute;
	left: 0;
	color: #e1e1e1;
}

.rate::before {
	content: "\2605";
	position: absolute;
	left: 0;
	color: #1835a8;
}

.swiper__info {
	margin-left: 20px;
	margin-right: 30px;
	white-space: nowrap;
}
.swiper__info h1 {
    font-weight: 600;
    font-size: 16px;
}

.swiper__info p {
    color: #858585;
    font-size: 15px;
    margin-bottom: 8px;
}

.swiper-pic img {
	width: 100px;
	height: 100px;
	border: solid 2px #1a36b0;
	border-radius: 100%;
}

.swiper__text {
	font-size: 14px;
	line-height: 20px;
	border-left: solid 1px #ededed;
	padding-left: 20px;
	font-weight: 500;
	opacity: 0.9;
}

.forPadding2 {
	padding: 0;
}

.sixth .sixth__pagination {
	position: absolute;
	display: flex;
	justify-content: center;
    bottom: 40px;
    right: 30px;
    left: auto;
    width: 200px;
    top: 44%;
}

.sixth .sixth__next {
    right: 65px;
    top: calc(50% + 30px);
	color: #000;
	border: solid 1.5px#e9e9e9;
    padding: 20px;
	border-radius: 100%;
	background-color: #ffffff;
}

.sixth .sixth__prev {
	right: 150px;
    top: calc(50% - 30px);
	left: auto;
	color: #000;
	border: solid 1.5px#e9e9e9;
    padding: 20px;
	border-radius: 100%;
	background-color: #ffffff;
}

.special-justify {
	display: flex;
	justify-content: center;
}

.fourth__image {
	width: 100%;
}

#popup__footer {
    bottom: 160px;
    top: auto;
	position: absolute;
	margin-left: 30%;
}

.seventh {
	background: url("../img/seventh-bg.jpg");
	 background-size: cover;
	 background-attachment: fixed;
	 background-position: center;
	 padding-top: 100px;
	 padding-bottom: 50px;
}

.seventh__title h1 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	font-weight: 700;
}

.seventh__title p {
	margin-top: 20px;
	color: #d4d8e2;
	line-height: 20px;
	font-family: 'Montserrat', sans-serif;
	max-width: 550px;
}

.seventh__undertitle {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}

.seventh__adress h1 {
	color: #fff;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}

.seventh__contact p:first-child {
	color: #fff;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.seventh__contact p:nth-child(2) {
	color: #fff;
	opacity: 0.8;
	font-weight: 300;
}

.eighth {
	padding: 50px 0;
	font-family: 'Montserrat', sans-serif;
}

.eighth__p_1 {
	color: #0d317b;
	font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.eighth__company {
	display: flex;
	flex-direction: column;
}

.eighth__company p {
    font-size: 16px;
    line-height: 22px;
}

.eighth__title {
	font-size: 20px;
	font-weight: 600;
}

.eighth__p_3 {
	margin-top: 20px;
	color: #232323;
}

.eighth__p_2 {
	margin-top: 10px;
	color: #232323;
}
.eighth__btn {
	margin-top: auto;
	max-width: 200px;
}

.nineth__contacts {
	background: linear-gradient(to right, #23262c, #253151);
}
.third .third__pagination {
	display: none;
	justify-content: center;
}
.third .third__prev,
.third .third__next {
    color: #000;
    border: solid 1.5px #e9e9e9;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 100%;
    bottom: 0;
	top: auto;
	width: 40px;
	height: 40px;
    left: auto;
    right: calc(50% - 70px);
    display: none;
}

.third .third__prev {
    left: calc(50% - 70px);
    right: auto;
}

.third__item_3 {
	position: relative;
}

.third__title {
	max-width: 500px;
}

.third__mobile-btn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	font-size: 14px;
	line-height: 22px;
	color:rgba(#ffffff, .7);
	padding-bottom: 7px;
	margin-bottom: 20px;

	&:hover {
		color: #fff;
	}

	
	&::after {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: rgba(#ffffff, .7);
	}
}

.third__item_3 h1 {
	position: absolute;
	z-index: 2;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.7s ease;
    bottom: auto;
    top: auto;
}

.third__item_3 p {
	opacity: 0;
	visibility: hidden;
	transition: all 0.7s ease;
	margin-top: auto;
	z-index: 2;
	font-family: 'Montserrat', sans-serif;
	color: #c1c1c0;
	font-weight: 100;
	font-size: 15px;
    line-height: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.third__extitle p {
    color: #0f2043;
    font-size: 18px;
}


.third__item_3:hover::before{
	background: rgba(0, 0, 0, 0.76);
	transition: all 0.7s ease;
}

.third__item_3:hover h1 { 
    transform: translateY(-300%);
}

.third__item_3:hover p {
	opacity: 1;
	visibility: visible;
	margin-bottom: 40px;
}


.third__item_3::before {
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.432);
	width: 100%;
	height: 100%;
	transition: all 0.7s ease;
}



.nineth__contacts {
	color: #fff;
	display: flex;
	justify-content: flex-end;
	font-family: 'Montserrat', sans-serif;
}

.nineth__wrapper {
	padding: 40px;
}

.nineth__wrapper h1 {
	font-size: 30px;
	font-weight: 500;
}

.nineth__work {
	margin-bottom: 40px;
}

.nineth__work p {
	margin-bottom: 0.5rem;
}

.nineth__work p:first-child {
	color: #9598a0;
}

.nineth__adress p {
	margin-bottom: 0.5rem;
}

.nineth__adress p:first-child {
	font-size: 12px;
	color: #9598a0;
}

.footer {
	background: #232323;
}

#menu2 {
	padding-bottom: 20px;
	border-bottom: solid 1px #656565;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.footer__bottom p {
	color: #7f7f7f;
}

.footer__bottom a {
	color: #fff;
}


@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300');
 .flex-center {
	 display: flex;
	 align-items: center;
	 justify-content: center;
}



.menu-mobile a {
	color: inherit;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
   
}
 .outer-menu {
	 display: none;
	 position: absolute;
	 left: 0;
	 z-index: 1;
}
 .outer-menu .checkbox-toggle {
	 position: absolute;
	 top: 0;
	 left: 0;
	 z-index: 2;
	 cursor: pointer;
	 width: 60px;
	 height: 60px;
	 opacity: 0;
	 z-index: 6;
}


 .outer-menu .checkbox-toggle:checked + .hamburger > div {
	 transform: rotate(135deg);
	 width: 30px;
}
 .outer-menu .checkbox-toggle:checked + .hamburger > div:before, .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
	 top: 0;
	 transform: rotate(90deg);
}
 .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
	 opacity: 0;
}
 .outer-menu .checkbox-toggle:checked ~ .menu-mobile {
	 pointer-events: auto;
	 visibility: visible;
}
 .outer-menu .checkbox-toggle:checked ~ .menu-mobile > div {
	 transform: scale(1);
	 transition-duration: .75s;
}
 .outer-menu .checkbox-toggle:checked ~ .menu-mobile > div > div {
	 opacity: 1;
	 transition: opacity .4s ease .4s;
}

 .outer-menu .hamburger {
	 position: absolute;
	 top: 10px;
	 left: 0;
	 z-index: 5;
	 width: 40px;
	height: 50px;
	padding: 0;
	 border-radius: 0 .12em .12em 0;
	 cursor: pointer;
	 backface-visibility: hidden;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .outer-menu .hamburger > div {
	 position: relative;
	 flex: none;
	 width: 20px;
	 height: 2px;
	 background: #FEFEFE;
	 transition: all .4s ease;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .outer-menu .hamburger > div:before, .outer-menu .hamburger > div:after {
	 content: '';
	 position: absolute;
	 z-index: 1;
	 top: -10px;
	 left: 0;
	 width: 30px;
	 height: 2px;
	 background: inherit;
	 transition: all .4s ease;
}
 .outer-menu .hamburger > div:after {
	 top: 10px;
}
 .outer-menu .menu-mobile {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 pointer-events: none;
	 visibility: hidden;
	 overflow: hidden;
	 backface-visibility: hidden;
	 outline: 1px solid transparent;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 z-index: 4;
}

.modal {
	.btn-close {
		background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat
	}
}
 .outer-menu .menu-mobile > div {
	 width: 250vw;
	 height: 250vw;
	 color: #FEFEFE;
	 background: url('../img/modal-bg.jpg') no-repeat center / cover;
	 opacity: .99;
	 border-radius: 50%;
	 transition: all .4s ease;
	 flex: none;
	 transform: scale(0);
	 backface-visibility: hidden;
	 overflow: hidden;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .outer-menu .menu-mobile > div > div {
	 text-align: center;
	 max-width: 90vw;
	 width: 100%;
	 max-height: 100vh;
	 opacity: 0;
	 transition: opacity .4s ease;
	 overflow-y: auto;
	 flex: none;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .outer-menu .menu-mobile > div > div > ul {
	 list-style: none;
	 padding: 0 1em;
	 margin: 0;
	 display: block;
	 max-height: 100vh;
	 width: 100%;
}
 .outer-menu .menu-mobile > div > div > ul > li {
	 padding: 0;
	 font-size: 24px;
	 display: block;
	 width: 100%;
	 margin-bottom: 10px;
}
 .outer-menu .menu-mobile > div > div > ul > li > a {
	 position: relative;
	 display: block;
	 cursor: pointer;
	 padding: 10px;
}

.services .services__prev,
.services .services__next {
	color: #000;
	border: solid 1.5px#e9e9e9;
	background-color: #ffffff;
    padding: 20px;
	border-radius: 100%;
	bottom: 0;
	top: auto;
	left: auto;
	right: calc(50% - 70px);
	display: none;
}

.services .services__prev {
	left: calc(50% - 70px);
	right: auto;
}

.services__pagination {
    justify-content: center;
}

.services__content li a {
	font-weight: 400;
}

.services__content ul {
    padding-left: 19px;
}

.services__item li {
    margin-bottom: 4px;
}

.services__content h1 {
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}

.services__content li a {
	font-family: 'Montserrat', sans-serif;
}

.services__content p {
	font-family: 'Montserrat', sans-serif;
	line-height: 20px;
}

.third__extitle p {
	font-family: 'Montserrat', sans-serif;
	line-height: 20px;
}

.fourth__mobile-title {
	display: none;
}

.fourth__paragraph_2 {
    margin: 20px 0;
    font-size: 15px;
    line-height: 25px;
}
.fourth__paragraph_3 {
	margin-bottom: 0;
	max-width: 330px;
	font-size: 15px;
}

.fourth__content h1 {
	margin-bottom: 20px;
}

.overflow-hidden {
	overflow-y: hidden;
	body {
		overflow-y: hidden;
	}
}

.service-page {
	.fourth__form {
	}
	.fourth .forBg {
		background-position: right 35% bottom 74%;
		background-size: 50%;
	}
	.seventh {
		background-image: url('../img/seventh-bg-2.jpg');
	}
}


// Input number fix

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.service-hero {
	background: url('../img/service-main-bg.jpg') center / cover no-repeat;
	background-attachment: fixed;
	padding-bottom: 40px;
}
.hero {
	padding-top: 100px;
	padding-bottom: 50px;
	align-items: center;
	justify-content: space-between;

	&__btn-mobile {
		display: none;
		padding: 15px 30px;
		border-radius: 5px;
		border: none;
		background-image: linear-gradient(-100deg, #082f65 0%, #2c3dfc 100%);
		color: #ffffff;
	}
	
	&__info {
		max-width: 485px;
	}

	&__subtitle {
		color: rgba(#fffefe, .7);
		font-size: 15px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	&__title {
		font-size: 35px;
		margin-bottom: 20px;
		color: #ffffff;
		line-height: 1.2;
		font-weight: 700;
	}

	&__text {
		margin-bottom: 10px;
		color: #fffefe;
		font-size: 18px;
		line-height: 25px;
	}

	&__btn-wrapper {
		display: inline-flex;
		align-items: flex-start;
		cursor: pointer;
	}

	&__btn {
		position: relative;
		background-color: transparent;
		border: none;
		color: rgba(#fff, .7);
		font-size: 14px;
		line-height: 18px;
		padding-right: 15px;
		padding-bottom: 7px;

		&::after {
			position: absolute;
			content: "";
			height: 1px;
			width: 100%;
			background-color: #8c91a1;
			left: 0;
			bottom: 0;
		}
	}

	&__form {
		position: relative;
		max-width: 540px;
		padding-right: 40px;
		&::after {
			position: absolute;
			content: "";
			background: url('../img/square.png') center no-repeat;
			width: 269px;
			height: 540px;
			right: 0;
			top: -55px;
		}

		select, input {
			position: relative;
			z-index: 5;
			font-size: 14px;
			font-weight: 300;
			color: #ffffff;
			display: block;
			width: 100%;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #fff;
			padding: 10px 20px;
			padding-right: 30px;
		}

		input::placeholder {
			font-size: 14px;
			font-weight: 300;
			color: #ffffff;
		}

		option {
			color: #000;
		}
	}

	&__form-inner {
		overflow: hidden;
		padding: 15px;
	}

	&__form-title {
		color: #ffffff;
		font-size: 25px;
		text-align: center;
		margin-bottom: 30px;
	}

	&__form-text {
		position: relative;
		font-size: 15px;
		line-height: 25px;
		color: rgba(#fff, .7);
		margin-bottom: 12px;
		padding-left: 80px;

		&::after {
			position: absolute;
			content: "";
			top: 12px;
			left: 0;
			background: url('../img/line.png') center no-repeat;
			height: 1px;
			width: 65px;
		}
	}

	&__form-item {
		margin-bottom: 30px;
	}

	&__form-btn-wrapper {
		text-align: center;
		margin-top: 15px;
	}
	
	&__form-btn {
		display: inline-block;
		padding: 15px 30px;
		border-radius: 5px;
		border: none;
		background-image: linear-gradient(-100deg, #082f65 0%, #2c3dfc 100%);
		color: #ffffff;
	}

	.blob {
		position: static;
		margin-right: 12px;
		width: 24px;
		height: 24px;
		.btn {
			padding: 7px;
		}
	}
}


.safe {
	padding: 60px 0;

	&__title {
		max-width: 450px;
		margin-bottom: 40px;
	}


	&__inner {
		padding-left: 40px;
	}

	&__img {
		margin-left: -40px;
		img {
			width: 285px;
		}
	}

	&__box {
		padding-bottom: 30px;
		padding-top: 20px;
		border-radius: 10px;
		box-shadow: 0px 0px 12.75px 2.25px rgba(41, 41, 41, 0.05);
		margin-bottom: 40px;
		background-color: #ffffff;
		margin-left: 0;
		margin-right: 0;
	}

	&__box-title {
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 17px;
	}

	&__text {
		margin-bottom: 22px;
		font-size: 15px;
		line-height: 22px;
	}

	&__foot {
		position: relative;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		padding-bottom: 75px;

		&::after {
			position: absolute;
			content: "";
			height: 65px;
			width: 1px;
			margin: 0 auto;
			bottom: 0;
			left: 0;
			right: 0;
			background: url('../img/line-red.png') center no-repeat;
		}
		
		span {
			font-weight: 600;
			color: #0f3282;
		}
	}

	&__content  {
		padding-left: 45px;
		padding-top: 20px;
		padding-right: 85px;
	}

	&__table {
		font-size: 14px;
		font-weight: 300;
		max-width: 930px;
		width: 100%;
		margin: 0 auto;
		box-shadow: 0px 0px 12.75px 2.25px rgba(0, 0, 0, 0.1);
		
		img {
			width: 20px;
		}

		table {
			width: 100%;
		}

		td, th {
			border-left: 1px solid #dcdcde;
			&:first-child {
				border-left: none;
			}
		}
		
		th {
			font-size: 15px;
			font-weight: 500;
			text-align: center;
		}

		td:nth-child(2),
		td:nth-child(3) {
			text-align: center;
		}

		td, th {
			padding: 17px 43px;
		}
		
		tr {
			background-color: #fff;

			&:nth-child(odd) {
				background-color: #f5f5f7;
			}
		}
	}

	&__mobile {
		display: none;
		img {
			width: 20px;
		}
		font-size: 14px;
		font-weight: 300;
		max-width: 930px;
		width: 100%;
		margin: 0 auto;
		
		
		img {
			width: 20px;
		}

		table {
			width: 100%;
			margin-bottom: 25px;
			box-shadow: 0px 0px 12.75px 2.25px rgba(0, 0, 0, 0.1);
			&:last-child {
				margin-bottom: 0;
			}
		}

		td, th {
			border-left: 1px solid #dcdcde;
			&:first-child {
				border-left: none;
			}
		}

		td {
			min-width: 65px;
		}
		
		th {
			font-size: 15px;
			font-weight: 500;
		}

		td:nth-child(2) {
			text-align: center;
		}

		td, th {
			padding: 17px 10px;
		}
		
		tr {
			background-color: #fff;

			&:nth-child(odd) {
				background-color: #f5f5f7;
			}
		}
	}

	&__title-mob {
		display: none;
		max-width: 300px;
	}
}

.important {
	padding: 55px 0;
	background-color: #f5f5f7;

	
	.important__prev,
	.important__next {
		color: #000;
		border: solid 1.5px#e9e9e9;
		background-color: #ffffff;
		padding: 20px;
		border-radius: 100%;
		bottom: 0;
		top: auto;
		left: auto;
		right: calc(50% - 70px);
        width: 40px;
        height: 40px;
        padding: 10px;
	}

	.important__prev {
		left: calc(50% - 70px);
		right: auto;
	}

	&__head {
		margin-bottom: 40px;
		align-items: center;
	}

	&__title {
		max-width: 550px;
	}

	&__title-mob {
		display: none;
		max-width: 300px;
	}

	&__phrase {
		position: relative;
		font-size: 15px;
		line-height: 25px;
		padding-left: 100px;
		&::after {
			position: absolute;
			content: "";
			background: url('../img/line-red.png') center no-repeat;
			height: 65px;
			transform: rotate(90deg);
			width: 1px;
			left: 50px;
			top: -19px;
		}
	}

	&__slider {
		background: url('../img/important-car.png') center no-repeat;
		min-height: 600px;
		position: relative;
	}

	&__slider-wrapper {
		justify-content: space-between;
	}

	&__pagination {
		justify-content: center;
	}

	&__item {
		max-width: 300px;
		width: 100%;
		margin-bottom: 30px;
		background-color: transparent;

		&:nth-child(3) {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.important__prev,
	.important__next,
	.important__pagination {
		display: none;
	}

	&__num {
		font-size: 50px;
		font-weight: 700;
		opacity: .1;
		margin-bottom: -25px;
	}

	&__name {
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 10px;
	}

	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 22px;
	}

	&__action {
		max-width: 300px;
		width: 100%;
		position: absolute;
		right: 0;
		bottom: 40px;
	}

	&__action-title {
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
		margin-bottom: 30px;
	}

	&__action-text {
		font-size: 14px;
		line-height: 22px;
	}

	&__contacts {
		margin-top: 35px;

		a {
			font-weight: 700;
			font-size: 18px;
			color: #000;
			line-height: 1;
		}

		h6 {
			color: #000000;
			opacity: .5;
			font-weight: 500;
		}

		.nav__btn {
			display: inline-block;
			margin-top: 20px;
			color: #ffffff;
			border-radius: 5px;
			font-weight: 500;
			font-size: 14px;
			background-image: linear-gradient( -170deg, rgb(8,47,101) 0%, rgb(44,61,252) 100%);
		}
	}
}

.lead {
	min-height: 680px;
	background:  url('../img/lead-bg.png') center / cover no-repeat;
	background-attachment: fixed;
	.hero__title {
		font-size: 40px;
	}
	.hero__text {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.hero__form-btn-wrapper {
		margin-top: 35px;
	}
	.hero__form::after {
		top: -75px;
	}
}

.service-page {
	.fourth {

	}
}